<%= stylesheet_link_tag 'error' %>
<% if @post.errors.any? %>
  <div class="error_explanation">
    <div class="error">エラー</div>
    <% @post.errors.full_messages.each do |msg| %>
        <p class="error_msg"><%= msg %></p>
      <% end %>
  </div>
<% end %>